<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Entrega</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f0f0f0;
        }
        .thumbnails {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 10px;
        }
        .thumbnail {
            max-width: 150px;
            height: auto;
            border: 1px solid #ccc;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Formulario Entrega</h1>
        
        <form action="/entrega" method="post" enctype="multipart/form-data">
            <div class="col-xs-12 mb-3">
                <b><label for="tipodos" class="form-label">Seleccionar tipo de entrega:</label></b>
                <select id="tipodos" name="tipodos" class="form-select" onchange="mostrarCampos()">
                    <option value="">Seleccionar...</option>
                    <option value="computo">Equipo de cómputo</option>
                    <option value="auricular">Auricular</option>
                    <option value="dispositivo_movil">Dispositivo móvil</option>
                    <option value="tablet">Tablet</option>
                    <option value="tv">TV</option>
                    <option value="otros">Otros</option>
                </select>
            </div>
            <div id="campos" style="display: none;">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3"  id="dispositivo" >
                        <b><label for="dispositivo" class="form-label">Dispositivo:</label></b>
                        <input type="text" name="dispositivo" class="form-control"style="display: block;">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="nombre" class="form-label">Nombre:</label></b>
                        <input type="text" name="nombre" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="apellido_paterno" class="form-label">Apellido paterno:</label></b>
                        <input type="text" name="apellido_paterno" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="apellido_materno" class="form-label">Apellido materno:</label></b>
                        <input type="text" name="apellido_materno" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="mail" class="form-label">Correo:</label></b>
                        <input type="text" name="mail" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="marca" class="form-label">Marca:</label></b>
                        <input type="text" name="marca" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="modelo" class="form-label">Modelo:</label></b>
                        <input type="text" name="modelo" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="serie" class="form-label">Serie:</label></b>
                        <input type="text" name="serie" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3" id="procesador">
                        <b><label for="procesador" class="form-label">Procesador:</label></b>
                        <input type="text" name="procesador" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3" id="ram">
                        <b><label for="ram" class="form-label">RAM:</label></b>
                        <div style="display: flex;">
                            <input type="number" name="ram" class="form-control" min="0">
                            <span class="input-group-text">GB</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3" id="rom">
                        <b><label for="rom" class="form-label">ROM:</label></b>
                        <div style="display: flex;">
                            <input type="number" name="rom" class="form-control" min="0">
                            <span class="input-group-text">GB</span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3" id="cargador">
                        <b><label for="cargador" class="form-label">Cargador:</label></b>
                        <select id="cargador" name="cargador" class="form-select">
                            <option value="">Seleccionar...</option>
                            <option value="si">Si</option>
                            <option value="no">No</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3" id="bateria">
                        <b><label for="bateria" class="form-label">Bateria:</label></b>
                        <input type="text" name="bateria" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3" id="so">
                        <b><label for="so" class="form-label">SO:</label></b>
                        <input type="text" name="so" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 mb-3">
                        <b><label for="noinventario" class="form-label">No. Inventario:</label></b>
                        <input type="text" name="noinventario" class="form-control">
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-3"><br>
                        <b><label for="observaciones" class="form-label">Observaciones técnicas o adicionales:</label></b>
                        <textarea id="observaciones" name="observaciones" class="form-control" rows="4"></textarea>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 mb-3">
                        <b><label for="observacionesDos" class="form-label">De acuerdo con lo anterior se hace constar que el equipo se encuentra en las condiciones adecuadas para recibirlo con las siguientes salvedades:</label></b>
                        <textarea id="observacionesDos" name="observacionesDos" class="form-control" rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Enviar" class="btn btn-primary">
            </div>
        </form>
    </div>
    <script>
        function mostrarCampos() {
            var select = document.getElementById("tipodos");
            var selectedOption = select.options[select.selectedIndex].value;
            var camposDiv = document.getElementById("campos");
            var dispositivo = document.getElementById("dispositivo");
            var procesador = document.getElementById("procesador");
            var ram = document.getElementById("ram");
            var cargador = document.getElementById("cargador");
            var rom = document.getElementById("rom");
            var bateria = document.getElementById("bateria");
            var so = document.getElementById("so");


            if (selectedOption === "computo") {
                camposDiv.style.display = "block";
                dispositivo.style.display = "none";
                procesador.style.display = "block";
                ram.style.display = "block";
                cargador.style.display = "block";
                rom.style.display = "block";
                bateria.style.display = "block";
                so.style.display = "block";
            } else if (selectedOption === "auricular") {
                camposDiv.style.display = "block";
                dispositivo.style.display = "none";
                procesador.style.display = "none";
                ram.style.display = "none";
                cargador.style.display = "none";
                rom.style.display = "none";
                bateria.style.display = "none";
                so.style.display = "none";
            } else if (selectedOption === "dispositivo_movil") {
                camposDiv.style.display = "block";
                dispositivo.style.display = "none";
                procesador.style.display = "block";
                ram.style.display = "block";
                cargador.style.display = "none";
                rom.style.display = "block";
                bateria.style.display = "none";
                so.style.display = "block";
            } else if (selectedOption === "tablet") {
                camposDiv.style.display = "block";
                dispositivo.style.display = "none";
                procesador.style.display = "block";
                ram.style.display = "block";
                cargador.style.display = "none";
                rom.style.display = "block";
                bateria.style.display = "none";
                so.style.display = "block";
            } else if (selectedOption === "tv") {
                camposDiv.style.display = "block";
                dispositivo.style.display = "none";
                procesador.style.display = "none";
                ram.style.display = "none";
                cargador.style.display = "none";
                rom.style.display = "none";
                bateria.style.display = "none";
                so.style.display = "none";
            } else if (selectedOption === "otros") {
                camposDiv.style.display = "block";
                dispositivo.style.display = "block";
                procesador.style.display = "none";
                ram.style.display = "none";
                cargador.style.display = "none";
                rom.style.display = "none";
                bateria.style.display = "none";
                so.style.display = "none";
            } else {
                camposDiv.style.display = "none"; 
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
